@blue-color: #1D7AA2;
@teal-color: #6DC1B3;
@gray-teal-color: #B1DCBE;
@yellow-color: #F3FFBA;
@red-color: #FF0850;

@dark-color: #262b37;
@very-light-gray-color: #fafafa;
@light-gray-color: #F3F3F3;
@dark-gray-blue: #474d5d;
@gray-blue: #585f73;
@red-color-light: #ff675f;
@default-font-family: "Open Sans", sans-serif;
@thin-font: 100;

.body {
    background-color: lighten(@gray-teal-color, 20%);

    .app {
        text-align: center;

        h1 {
            padding: 50px 0 0 0;
            .custom-font(50px, 100, @blue-color);
        }
        h2 {
            padding: 0 0 50px 0;
            .custom-font(30px, 100, darken(@blue-color, 5%));
        }
        section {
            border-top: 1px solid @teal-color;
            padding: 35px 0;
        }
    }
}

img {
    z-index: 1 !important;
}
@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

@import "./mixins";
@import "../src/components/navigation/navigation";
@import "../src/components/header/header";
@import "../src/components/services/services";
@import "../src/components/photos/photos";
@import "../src/components/contact/contact";
@import "../src/containers/upcoming/upcoming";
@import "../src/containers/interestForm/interest-form";
